{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block main %}
  <h1>Book Details:</h1>
  <ul>
    <li>Book Title: {{book_details[0]}}</li>
    <li>publication year: {{book_details[1]}}</li>
    <li>Publisher: {{book_details[2]}}</li>
    <li>description: {{book_details[3]}}</li>
    <li><img src="{{book_details[4]}}" alt="book_image"></li>
  </ul>

  <p>Result1:</p> {{result1["books"]}}

  <div class="text-center">
    {{result2["reviews_widget"]|safe}}
  </div>

{% endblock %}
