{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changePassword" method="POST">

        <div class="row d-flex justify-content-center">
            <div class="form-group">
                <input class="form-control" id = "password" name="password" placeholder="Password" type="password" required>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="form-group">
                <input class="form-control" id = "newPassword" name="newPassword" placeholder="New Password" type="password" required>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="form-group">
                <input class="form-control" id = "confPassword" name="confPassword" placeholder="Confirm New Password" type="password" required>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" name="submit">Change Password</button>
    </form>

{% endblock %}
